@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

:root {
  --dark-blue: #0f3963;
  --white: #ffffff;
  --light-yellow: #fcfbb8;
  --very-light-gray: #eeeeee;
  --light-gray: #f8f8f8;
  --medium-gray: #7d7d7d;
  --second-medium-gray: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

button {
  cursor: pointer;
}

p {
  cursor: context-menu;
}
